{% extends "main.html.twig" %}

{% block header %}
	<a href="http://localhost/educom-verrukkulluk/index.php"><img src="assets/img/logo-v2.png" ;/></a>
{% endblock %}

{% block content %}
	<div class="col-12 boodschappen" style="display: flex; flex-direction: column; overflow: scroll; height: 950px;">
		<h2>Boodschappen</h2>

		{% for record in data %}
			<div class="individueel_artikel">
			<div><img class="art_afbeelding" src={{ record.boodschappen_verpakking }}></div>
			<div style="width: 70%; display: inline;">{{ record.boodschappen_omschrijving }}</div>
			Aantal:
			{{ record.boodschappen_aantal }}
			<div style="align-content: flex-end">
				<i class="fa fa-sharp fa-regular fa-euro-sign"></i>
				{{ record.boodschappen_prijs / 100}}</div></div>
		{% endfor %}

		<div class="totaalberekening"><h3>Totaal</h3>
        <div><i class="fa fa-sharp fa-regular fa-euro-sign"></i>
        {{totaal}}</div></div>
	</div>
{% endblock %}
