{% extends "main.html.twig" %}

{% block header %}
	<a href="http://localhost/educom-verrukkulluk/index.php"><img src="assets/img/logo-v2.png" ;/></a>
{% endblock %}


{% block content %}
	<div class="col-12 detail detail_blok">
		{% for record in data %}
			<img src="{{ record.gerecht.afbeelding }}" style="width: 400px; height: 325px; margin: 12px; float: left;">
			<h1>{{ record.gerecht.titel }}</h1>
			{{ record.gerecht.lange_omschrijving}}
			<br>
			Aantal calorieën:
			{{ record.calorieën}}
			<br>
			Prijs:
			{{ record.prijs}}
			<br>
			Keuken:
			{{ record.keuken.omschrijving }}
			<br>
			Type:
			{{ record.type.omschrijving }}
			<br>
			<div class="flex_container">
				<button style="float: left;">Op lijst</button><img class="heart_icon" src="assets/img/full_heart.png"></div>
		</div>
	{% endfor %}

				<div class="tab">
					<button class="tablinks" onclick="openTab(event, 'ingrediënten')" id="defaultOpen">Ingrediënten</button>
					<button class="tablinks" onclick="openTab(event, 'bereidingswijze')">Stappen</button>
					<button class="tablinks" onclick="openTab(event, 'opmerkingen')">Opmerkingen</button>
				</div>


				<div id="ingrediënten" class="tabcontent">
					<div class="row detail border">
						<div class="col-12">
							{% for record in data %}
								{% for ingr in record.ingredienten %}
									<li>
										<img class="art_afbeelding" src="{{ ingr.art_verpakking }}">
										<h3>{{ ingr.art_naam }}</h3>
										{{ ingr.art_omschrijving }}
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>


					<div id="bereidingswijze" class="tabcontent">
						<div class="row detail border">
							<div class="col-12">
								{% for record in data %}
									{% for stap in record.stappen %}
										<li>
											{{ stap.stap }}
											{{ stap.bereidingswijze}}
										{% endfor %}
									{% endfor %}
								</div>
							</div>
						</div>


						<div id="opmerkingen" class="tabcontent">
							<div class="row detail border">
								<div class="col-12">
									{% for record in data %}
										{% for opmerking in record.opmerkingen %}
											<li>
												{{ opmerking.opmerking }}
												Opmerking van user:
												{{ opmerking.user}}
											{% endfor %}
										{% endfor %}
									</div>
								</div>
							</div>
							
<script>
function openTab(evt, tab) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}
	document.getElementById(tab).style.display = "block";
	evt.currentTarget.className += " active";
}
	document.getElementById("defaultOpen").click();
</script>

{% endblock %}
