{% extends "main.html.twig" %}

{% block header %}
	<a href="http://localhost/educom-verrukkulluk/index.php"><img src="assets/img/logo-v2.png" ;/></a>
{% endblock %}


{% block content %}

	<!-- GERECHT INFORMATIE -->
	<div class="col-12 detail detail_blok">
		{% for record in data %}
			<img src="{{ record.gerecht.afbeelding }}" style="width: 400px; height: 325px; margin: 12px; float: left;">
			<i class="fa fa-solid fa-user" style="color: #d41616;"></i> 4
			<i class="fa fa-solid fa-fire" style="color: #d41616;"></i> {{ record.calorieën }}
			<i class="fa fa-sharp fa-regular fa-euro-sign" style="color: #d41616;"></i> {{ record.prijs }}

			<h1>{{ record.gerecht.titel }}</h1>
			{{ record.gerecht.lange_omschrijving}}
			<br>
			<br>
			<h1 style="display: inline;">Keuken:</h1>
			{{ record.keuken.omschrijving }}
			<br>
			<h1 style="display: inline;">Type:</h1>
			{{ record.type.omschrijving }}
			<br>
			<div class="flex_container">
				<a href="http://localhost/educom-verrukkulluk/index.php?gerecht_id={{record.gerecht.id}}&user_id=1&action=boodschappen"><button style="float: left; height: 35px;">Op lijst</button></a>
			 <i class="fa fa-star fa-2x" data-id="{{ record.gerecht.id }}" data-index="0"></i>
       		 <i class="fa fa-star fa-2x" data-id="{{ record.gerecht.id }}" data-index="1"></i>
        	 <i class="fa fa-star fa-2x" data-id="{{ record.gerecht.id }}" data-index="2"></i>
       		 <i class="fa fa-star fa-2x" data-id="{{ record.gerecht.id }}" data-index="3"></i>
        	 <i class="fa fa-star fa-2x" data-id="{{ record.gerecht.id }}" data-index="4"></i>
			 <i class="fa fa-heart fa-2x" data-id="{{ record.gerecht.id}}" style="margin-left: auto;"></i>
			</div>
		</div>
		{% endfor %}

	<!-- TABBLADEN -->
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'ingrediënten')" id="defaultOpen">Ingrediënten</button>
		<button class="tablinks" onclick="openTab(event, 'bereidingswijze')">Stappen</button>
		<button class="tablinks" onclick="openTab(event, 'opmerkingen')">Opmerkingen</button>
	</div>

	<div id="ingrediënten" class="tabcontent shadow">
		<div class="row detail">
			<div class="col-12">
				{% for record in data %}
					{% for ingr in record.ingredienten %}
						<div><img class="art_afbeelding" src="{{ ingr.art_verpakking }}" style="float: left; display: block; padding: 10px;">
						<h3>{{ ingr.art_naam }}</h3><br>
						{{ ingr.art_omschrijving }}<br>
						hoeveelheid: {{ ingr.ing_aantal}} {{ingr.art_eenheid}}</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>


	<div id="bereidingswijze" class="tabcontent shadow">
		<div class="row detail shadow">
			<div class="col-12">
				{% for record in data %}
					{% for stap in record.stappen %}
						<li>
						{{ stap.stap }}.
						{{ stap.bereidingswijze}}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>


	<div id="opmerkingen" class="tabcontent shadow">
		<div class="row detail shadow">
			<div class="col-12">
				{% for record in data %}
					{% for opmerking in record.opmerkingen %}
						<li>
						{{ opmerking.opmerking }}
						Opmerking van user:
						{{ opmerking.user}}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- SCRIPT VOOR TABBLADEN -->
	<script>
		function openTab(evt, tab) {
			var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
					for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
						}

				tablinks = document.getElementsByClassName("tablinks");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
						}

				document.getElementById(tab).style.display = "block";
				evt.currentTarget.className += " active";
				}
				
				document.getElementById("defaultOpen").click();  
	</script>	

	<!-- JQUERY VOOR STERREN -->
	<script>
        
        $(document).ready(function() {
           resetStarColors();
		   let gegeven_waardering = 0;

            $('.fa-star').on('click', function () {
                gegeven_waardering = parseInt($(this).data('index') + 1);
                const gerecht_id = $(this).attr('data-id');
                const url = `index.php?gerecht_id=${ gerecht_id }&action=waardering&aantal=${ gegeven_waardering }`;
				console.log(url);
				console.log(gegeven_waardering);
				alert("Bedankt voor uw waardering!");
				

				$.ajax({
   					url: url,
					method: "GET",
					success: function(result) { 
						console.log(result);
										}
				})	
            })
            $('.fa-star').mouseover(function() {
                var huidige_waardering = parseInt($(this).data('index'));
				if (gegeven_waardering == 0) 
                	for (var i = 0; i <= huidige_waardering; i++)
                    	$('.fa-star:eq(' + i + ')').css('color', '#fdaf08');
            });

            $('.fa-star').mouseleave(function() {
				console.log(gegeven_waardering);
                if (gegeven_waardering != 0) {
                    for (var i = 1; i < gegeven_waardering; i++)
                        $('.fa-star:eq(' + i + ')').css('color', '#fdaf08');
					}
				else {
					resetStarColors();
				}
            })
        });

        function resetStarColors() {
            $('.fa-star').css('color', 'gray');
        }
    </script>

	<!-- JQUERY VOOR FAVORIET -->
	<script>
	$(document).ready(function() {
		$heart = 0;
		reset_heart_color();

	$('.fa-heart').on('click', function () {
				if ($heart == 1) {
					const gerecht_id = $(this).attr('data-id');
					var url = `index.php?gerecht_id=${ gerecht_id }&action=favoriet&user_id=1&verwijderen=1`
					console.log(url)
					$heart = 0;

				} else {
				$heart = 1;
				$(".heart").addClass("red")
                const gerecht_id = $(this).attr('data-id');
                var url = `index.php?gerecht_id=${ gerecht_id }&action=favoriet&user_id=1`;
				console.log(url)};
          
				$.ajax({
   					url: url,
					method: "GET",
					success: function(result) { 
						console.log(result);
										}
				})	
	})

	$('.fa-heart').mouseover(function() {
		$('.fa-heart').css('color', 'red');
		if ($heart == 1) {
			$('.fa-heart').css('color', 'gray')
		}
	})
	

	$('.fa-heart').mouseleave(function() {
		if ($heart == 0) {
        	reset_heart_color();
		} else {
			reset_heart_color_red()
		}
	}
	)})

	function reset_heart_color() {
        $('.fa-heart').css('color', 'gray');
    }

	function reset_heart_color_red() {
		$('.fa-heart').css('color', 'red');
	}	
	</script>
{% endblock %}


