{% extends "main.html.twig" %}

{% block header %}
	<img src="assets/img/logo-v2.png"/>
{% endblock %}

{% block content %}
	{% for record in data %}
		<div class="col-5 gerecht_blok">
			<img src="{{ record.gerecht.afbeelding }}" style="width: 410px; height: 270px; margin-left: -12px;">
			<h1>{{ record.gerecht.titel }}</h1>

			<!-- DISPLAY GEMIDDELDE WAARDERING -->
			Gemiddelde waardering: 
			{% for i in 1..5 %}
			{% if i <= record.gemiddelde_waardering|round %}
			<i class="fa fa-solid fa-star fa" style="color: #fdaf08;"></i>
			{% else %}
			<i class="fa fa-solid fa-star fa" style="color: gray;"></i>
			{% endif %}
			{% endfor %}
			<br>

			<div>{{ record.gerecht.korte_omschrijving}}</div>
			<br><br><br>
			<a href="http://localhost/educom-verrukkulluk/index.php?gerecht_id={{record.gerecht.id}}&action=detail">
				<button>Smullen!</button>		
			</a>

			<div class="gerecht_data">
			<i class="fa fa-solid fa-user" style="color: #d41616;"></i>
			4 
			<i class="fa fa-sharp fa-regular fa-euro-sign" style="color: #d41616;"></i> 
			{{ record.prijs }}
				
			<i class="fa fa-solid fa-fire" style="color: #d41616;"></i>
			{{ record.calorieën}}
			<br>
			</div>
		</div>		
	{% endfor %}
{% endblock %}
